.OpenModalButton-button {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.Edit, .Delete {
    display: flex;
    gap: 8px;
    padding: 0px 5px;
    align-items: center;
    margin-left: 0;
}

