/* TODO Add site wide styles */

/* temp styles */

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mtop-15 {
	margin-top: 15px;
}

.small-icon {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 999px;
}

.columns {
	display: flex;
	flex-direction: row;
}

.width {
	width: inherit;
	margin: auto;
	height: auto;
}

.overflow {
	/* overflow-y: scroll; */
	/* overflow-y: auto; */
	/* max-height: 500px; */
	min-width: 500px;
}
