.create-server-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 460px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.create-server-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-server-title {
}

.create-server-subtext {
  text-align: center;
}

.create-server-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
