.member-card {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background: #292b2f;
	border-radius: 10px;
	height: 450px;
	width: 350px;
}

#card-header {
	margin: 0;
	background: #000;
	border-radius: 10px 10px 0 0;
	height: 65px;
	width: 100%;
}

.card-img {
	width: 90px;
	height: 90px;
	/* border: 5px solid #292b2f; */
}

.card-img {
	border-radius: 50%;
	border: 5px solid #292b2f;
	object-fit: cover;
}
.card-content {
	border-radius: 50%;
	margin: -45px 20px;
	width: 80%;
	height: 100px;
}

.card-member-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(24,25,28);
    height: 300px;
    width: 300px;
    border-radius: 10px;
    /* font-family: "Segoe UI Variable"; */
    font-family: "Roboto";
    box-sizing: border-box;
    padding: 12px;
}

.member-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: flex-end;
}

.add-friend-button {
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 110px;
    font-size:10px;
    color: white;
    background-color: green;
    margin-bottom: 12px;
    margin-right: 2px;
}

.delete-friend-button {
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 110px;
    font-size:10px;
    color: white;
    background-color: red;
    margin-bottom: 12px;
    margin-right: 2px;
}

.card-member-inner-div {
    /* width: calc(100% - 12px); */
    width: 100%;
}

.member-nickName-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #292b2f;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    height: max-content;
    width: 100%;
}

.member-nickname-div-container {
    width: 100%;
}

.member-nickname-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    width: 100%;
}

.nickname-edit-button {
    cursor: pointer;
    width: 32px;
}

.member-nickname {
    width: calc(100% - 32px);
    /* height: 28px; */
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-since-section{
    padding: 5px 0;
}

.role-section {
    padding: 5px 0;
    height: 75px;
}

.member-h4  {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
}

.member-role-div {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    /* border-radius: 4px; */
    /* padding: 2px 6px; */
    box-sizing: border-box;
    width: max-content;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #282b2f; */
    gap: 4px;
}

#owner.member-role-div,
#member.member-role-div,
#pending.member-role-div {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    /* border-radius: 4px; */
    /* padding: 2px 6px; */
    box-sizing: border-box;
    width: max-content;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #282b2f; */
    gap: 4px;
}

.member-role-container {
    border-radius: 4px;
    background-color: #282b2f;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.member-role-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#owner.member-role-circle,
#admin.member-role-circle {
    background-color: rgb(25, 188, 155);
}

#member.member-role-circle {
    background-color: rgb(196, 122, 228);
}

#pending.member-role-circle {
    background-color: rgb(255, 255, 255);
}

.member-role {
    /* padding-right: 5px; */
    padding-bottom: 1px;
    font-size: 14px;
}

.role-edit-button {
    border-radius: 4px;
    background-color: #282b2f;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 16px;
	/* background-color: #292b2f; */
    /* padding: 0 5px; */
    /* padding-bottom: 1px; */
}

.role-edit-button:hover {
	background-color: #292b2f;
}

.card-text {
	color: white;
	font-size: 13px;
}

.leave-server-div {
	padding: 20px 0;
}

.delete-membership-button {
    margin-top: 40px;
	border: none;
	background-color: red;
	color: white;
	border-radius: 5px;
}
