.dms-admin {
	color: rgb(103, 223, 147);
}

.dms-member {
	color: rgb(196, 122, 228);
}

.cms-container.dms {
	width: 100%;
}

.cm-form-container.dms {
	box-sizing: border-box;
	width: 100%;
}

.mleft-10 {
	margin-left: 10px;
}

.dm-aka {
	background-color: rgba(0, 0, 0, 0.13);
	border-radius: 10px;
	padding: 4px 7px;
	font-size: 12px;
}

.overfl-wid {
	width: auto;
	padding-left: 25px;
	border-left: solid 1px rgba(0, 0, 0, 0.13);
	overflow-x: hidden;
	height: 25px;
}
