.UserLanding-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.reverse {
	flex-direction: row-reverse;
}

.UserLanding-main-content {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 20px;
	padding-top: 16px;
	padding-right: 20px;
	/* width: 1186px; */
	width: 80%;
}

.UserLanding-server-members {
	display: flex;
	flex-direction: column;
}

.UserLanding-status {
	margin-bottom: 15px;
	padding: 0px 10px;
}

.UserLanding-status > h2 {
	color: #b9bbbe;
	text-transform: uppercase;
	font-size: 12px;
}

.UserLanding-people-list-container {
	display: flex;
	flex-direction: column;
}

.UserLanding-people-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #41454c;
	padding: 0px 10px;
}

.UserLanding-people-list:hover {
	background-color: #3f434a;
	border-radius: 5px;
}

.UserLanding-user-info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0px;
}

.UserLanding-user-icon {
	margin-right: 12px;
}

.UserLanding-user-icon > img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.UserLanding-user-name-status-container {
	display: flex;
	flex-direction: column;
	line-height: 16px;
}

.UserLanding-user-name {
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.UserLanding-user-status {
	color: rgb(177, 177, 177);
	font-size: 13px;
}

.UserLanding-user-actions-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.UserLanding-user-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 5px;
	color: #b9bbbe;
	background-color: #2f3136;
	height: 32px;
	width: 32px;
	text-align: center;
	border-radius: 50%;
}

.UserLanding-sidebar {
	width: 240px;
	height: 100vh;
	background-color: #303136;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
